<html>

<head>
<title>Explore the Data Set</title>
</head>

<body>

<h3>Description</h3>
<p>The purpose of this application is to allow one to perform some very basic analysis of the data sets provided.</p>

<h3>Use</h3>
<p>
To use the app do the following
<li>Select one of the existing data set</li>
<li>Select the x, y and z axis as well as an additional column "color." The data points color will be based on the value of this column.</li>
<li>Click on "Plot the Data" and this will create a plotly plot (called "Exploratory Graph") based on the x, y, z and color values selected earlier.</li>
</p>


</body>
</html>
